*.suo
*.sdf
*.opensdf
*.user
*.ide
*.vsmdi
*.VisualState.xml
*.testsettings
*.StyleCop
*.ReSharper.*
TestResult.xml
TestResults/
[Oo]bj/
[Bb]in/
[Dd]ebug/
[Rr]elease/
/_ReSharper.*
ipch/
Distribute/
packages/
DICOM/T4/part06.xml
DICOM/T4/part07.xml
DICOM/T4/part16.xml
*.userprefs
/.vs
*.lock.json
*.VC.opendb
*.db
*.DotSettings
/UpgradeLog.htm
/UpgradeLog2.htm
AppPackages/
*.nuget.props
*.nuget.targets
